

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body {
    font-family: 'Young Serif', serif, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    background-color: lightblue;
    color: rgb(71, 69, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
a:hover {
    background-color: darkgray;
    color: white;
}
nav {
    display: flex;
    justify-content: center;

}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 50px;
}
p {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid lightblue;

}
img {
    width: 600px;
    display: block;
    margin: 80px auto;
    border: 3px solid lightblue;
    padding: 40px;                                        
}
.background {
    background-color: #ccc;
}

footer p {
    background-color:lightblue;
    color: rbg(71 , 69, 69);
    width: 100%;
}