
/* home page css */

.intro p{
    font-size:30px;
}

.intro2 p {
    font-size:30px;
}

.play_game{
    height:1000px;
}

.play_game2{
    height:750px;
}

.footernav{
    font-size:40px;
}


/* page 1 and 2 css */
/* page 1 nad 2 are gonna have similar wire-frames because i wanna stay loyal to most game review sites. */
.pg1content p{
    font-size: 30px;
}

.pg1content_2 p{
    font-size: 30px;
}